/*.home{
    
}
*/

#light{
    background-color: #f3ebf6;
}

#dark{
    background-color: #6b6b6b;
}

.themeSwitch{
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
}